.headbg {
    height: 65vh;
    /* background-color: #26395e; */
    background-color: #172028;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.head1 {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: "Noto Sans", sans-serif;
}

.head2 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 2rem;
    max-width: 80vw;
    font-family: "Noto Sans", sans-serif;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .head1 {
        font-size: 1.5em;
        margin-top: 40px;
    }

    .head2 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .head1 {
        font-size: 1em;
        margin-top: 40px;
    }

    .head2 {
        font-size: 1em;
        font-weight: 400;
    }

    .headbg{
        width: 100%;
    }
}
