.carrercontainer {
    font-family: "Noto Sans", sans-serif;
    margin: 28vh auto auto auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.carrercards {
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, transform 0.3s;
    border: 1px dotted #26395e;
}

.carrercards:hover {
    background-color: #d7dcfa;
    transform: translateY(-5px);
}

.c1 {
    color: #333;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 10px;
}

.c1h {
    color: #666;
    font-weight: 500;
    margin-bottom: 10px;
}

.carrer-h-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.but {
    padding: 8px 16px;
    font-size: 0.9em;
    border: none;
    background-color: #26395e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.but:hover {
    color: #fff;
    background-color: #333;
}

.carrerimg {
    background-position: bottom;
}

@media (max-width: 480px) {
    .carrercards {
      width: 80vw;
    }
}