.section__container {
  max-width: 1200px;
  margin: 5vh auto 15vh auto;
  padding-top: 40px;
}

.section__subheader {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #475569;
  letter-spacing: 1px;
  font-family: "Noto Sans", sans-serif;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0f172a;
  font-family: "Noto Sans", sans-serif;
}

.industries__container :is(.section__subheader, .section__header) {
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
}







.industries__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
  margin: 5vh auto;
}

.industries_card {
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 34vh;
  position: relative;
  overflow: hidden; 
}

#f{
  background: url('https://biznivate.com/biznivate/assets/img/industry-1-810x930.jpg');
  background-size: cover;
  z-index: 3;
}

.sm{
  background: url('https://biznivate.com/biznivate/assets/img/industry-2-810x930.jpg');
  background-size: cover;
  z-index: 3;
}

.m{
  background: url('https://biznivate.com/biznivate/assets/img/industry-3-810x930.jpg');
  background-size: cover;
  z-index: 3;
}

.it{
  background: url('https://biznivate.com/biznivate/assets/img/industry-4-810x930.jpg');
  background-size: cover;
  z-index: 3;
}

.industries_card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  transition: background-color 0.3s ease;
}

.industries_card h4 {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 1.3em;
  font-weight: 900;
  color: white;
  z-index: 2;
}

.industries_card:hover {
  transform: scale(1.09);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (width < 1120px) {
  .industries__content{
  grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 550px) {
  .industries__content{
  grid-template-columns: repeat(1, 1fr);
  }
}